@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --text: #333333;
    --btn:#0077FF;
    --btn-hover: #0064D6;
    --hero-bg: #FAFAFA;
    --footer-bg:#F2F2F2;
    --btn-text: #FFFFFF;
    --header-border: #E5E5E5;
    --footer-border: #E5E7EB;

}

body{
    font-family: Poppins , system-ui;
    margin-top: 0;
    color: var(--text);
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header-border);

}

#logo-txt{
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

#about{
    margin-right: 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

#about > a{
    text-decoration: none;
}


#about > a:visited{
    color: var(--text);
}

#about > a:hover{
    color: var(--btn-hover);
}