@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --text: #333333;
    --btn:#0077FF;
    --btn-hover: #0064D6;
    --hero-bg: #FAFAFA;
    --footer-bg:#F2F2F2;
    --btn-text: #FFFFFF;

}

body{
    font-family: Poppins , system-ui;
}